<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmar</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <h6>¿Está seguro que desea eliminar a la Localidad {{ form.nombre }}, {{ form.cp }}?</h6>
            <input type="submit" value="Confirmar" class="btn btn-danger">
        </form>
    </div>
</body>
</html>