{% extends "base.html" %}
{% load static %}
{% block titulo_pagina %} Administración de personas {% endblock %}
{% block titulo_principal %} Carga/Modificación {% endblock %}
{% block principal %}

    <form method="post" enctype="multipart/form-data" novalidate="">
        {% csrf_token %}
        {% if form.errors %}
            <!-- Mensajes de errores -->
            <div class="alert-danger">
                <p>Hay errores en los datos ingresados. Por favor, corrija lo siguiente:</p>
            {{ form.non_field_errors }}
                <ul>
                    {% for field in form %}
                        {% if field.errors %}<li>{{ field.label }}:{{ field.errors|striptags }}</li>{% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <h2>Persona</h2>
        <div class="col-sm-5 maincontent">
            <div class="row">
                <div class="col-xs-2">
                    {{ form.nombre.label }} {{ form.nombre }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    {{ form.apellido.label }} {{ form.apellido }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    {{ form.num_doc.label }} {{ form.num_doc }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    {{ form.num_cuit.label }} {{ form.num_cuit }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    {{ form.telefono.label }} {{ form.telefono }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    {{ form.fecha_nac.label }} {{ form.fecha_nac }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    {{ form.email.label }} {{ form.email }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    {{ form.direccion.label }} {{ form.direccion }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    {{ form.localidad.label }} {{ form.localidad }}
                </div>
            </div>
            </br>
            <input type="submit" name="submit" value="Grabar" class="btn btn-primary">
        </div>
    </form>
{% endblock %}